<div class="card m-3" style="width: 15rem;">
    <img class="card-img-top" src="../{{thumbnail}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <a href="/posts/{{id}}" class="btn btn-primary">Link</a>
    </div>
</div>